@import "tailwindcss";

@theme {
  --color-primary: #ff8901;
  --color-secondary: #fb923c;
  --container-center: true;
  --container-padding: 2rem;
}

@media (width >= 640px) {
  /* sm */
  :root {
    --container-padding: 2rem;
  }
}

@media (width >= 1024px) {
  /* lg */
  :root {
    --container-padding: 4rem;
  }
}

@media (width >= 1280px) {
  /* xl */
  :root {
    --container-padding: 5rem;
  }
}

/* Estilos globales opcionales */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}